gnore environment files
.env
.docker.env
frontend/.env.docker
backend/.env.docker

# Ignore dependency folders
node_modules/

# Ignore build output
dist/

# Ignore editor settings
.vscode/

